    version: '3'
    services:
      app:
        build: .
        container_name: wheelofmisery-app
        environment:
          - DATABASE_URL=${DATABASE_URL}
          - JWT_SECRET=${JWT_SECRET}
          - NODE_ENV=development
          - PORT=5000
        ports:
          - "5000:5000"
        depends_on:
          - db
        volumes:
          - .:/app

      db:
        image: postgres:13-alpine
        container_name: postgres-db-wom
        environment:
          POSTGRES_USER: ${DB_USER}
          POSTGRES_PASSWORD: ${DB_PASSWORD}
          POSTGRES_DB: ${DB_NAME}
        ports:
          - "5432:5432"
        volumes:
          - postgres-data:/var/lib/postgresql/data

    volumes:
      postgres-data: