
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body{
  margin:0;
  padding:0;
  font-family: 'Roboto',sans-serif;
  
  
}
body{
  display:flex;
  flex-direction: column;
  background-image: linear-gradient(to right,transparent 0%,transparent 50%,rgba(255, 36, 36, 0) 0%,rgb(2, 1, 7) 100%,rgba(28, 1, 1, 0) 100%),linear-gradient(to right, rgb(3, 3, 3), rgb(10, 15, 43));
 
 
}
header{
  
  
   background-color:#10132039;
   border-bottom: 1px solid #118ab25e;
   
   
}
nav{
  display: flex;
  flex-direction: row;
  
  padding: 10px;
  justify-content: space-between;
  
}
.company{
  display: flex;
  align-items: center;
}
.right-nav{
  display: flex;
  margin-top:2.5rem;
  gap:15px;
  align-items:flex-end;
  height:100%;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    height:37px;
    
  }
}



#error {
    background-color: #ffe5ec;
    border: 1px solid #EF476F;
    border-radius: 4px;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Optional Shake Animation */
.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}



#auth {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border:1px solid rgb(5, 5, 33);
    padding:10px;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    color:#d5e6e7;

}

#auth >input{
  font-size: 1.1rem;
  padding: 8px;
  color:#32757e;
  background-color:#060619;
  border: 1px solid #092c31;
 
}
#auth >input:hover{
  border-color: #119fb2;
}
#authBtn{
  cursor:pointer;
  padding: 10px;
  font-weight: bold;
  background-color: inherit;
  border: 1px solid #119fb2;
  color:#d5e6e7;
  border-radius: 5px;
  width:fit-content;
  padding:10px 30px;
}
#authBtn.active{
  background-color: #0f4f59;
}

#authBtn:hover{
  background-color: #081429;
}

#registerBtn{
  background-color: #064161;
  color: #d5e6e7;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border:none;
}
#registerBtn:hover{
background-color: #074f75;
}

.sign-up-text {
    padding-top: 0;
}

.register-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#auth >hr{
    padding: 0;
    width:100%;
    border:none;
    height:0.7px;
    background-color:#0e546b
    

}




#taskModal,#LogoutModal {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #cdf8fabe;
}

/* Styling the backdrop that appears behind the modal */
#taskModal::backdrop , #LogoutModal::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.taskChosen{
  font-size:28px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    
    blue, 
    indigo, 
    violet
  );
  
  background-clip: text;
  color: transparent;
}

#closeButton,#no,#yes{
  border:none;
  background-color: #0c2550d2;
  color:#d5e6e7;
  border-radius: 25%;
  padding:5px;
  cursor: pointer;
}



a{
  color: #ffffffd9;
  text-decoration: none;
}



main{
  height: 80vh;
  display: flex;
  flex-direction: row;
 align-items: center;

 justify-content:space-between;
 margin:20px;
 

}

.box{
  margin-top:10px; 

  border-style: solid;
  border-width: 1px;  border-radius: 4px;
  height:520px ;
  width:300px;
  border-color:#118AB2;
  padding: 2px;
  box-shadow: 0 4px 30px #118ab224;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(1px);

  
}
.box ul{
  padding-right: 4px;
}
.spinner{
  position: relative;
  max-width: 500px;
  max-height:500px;
  border-radius: 50%;
  background-color: #101320;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  box-shadow: 0 4px 30px #118ab260;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid #118ab260;
  overflow: hidden;

}

#wheelCanvas{
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}







.spin {
  font: 1.5rem/0 roboto;
  
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 35%;
  background: #118ab2af;
  color: #d5e6e7;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
  -webkit-tap-highlight-color: transparent;
  text-transform: uppercase;
 
  
}
.spin:hover{
  background-color: #5c787ad7;
}

.spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.tablinks{
  text-decoration: none;

  border-color: #0e546b;
  border-width: 0.5px;
  border-radius: 3px;
  color:#fff;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: #1013206f;
  background-image: linear-gradient(
    to right,
    
    blue, 
    indigo, 
    violet
  );
  
  
  background-clip: text;

  color: transparent;

 

}
.tablinks:hover{
  border-color:#118AB2;
}
.tablinks.active{
   border-color:#070707;
   border-width: 0px;

}


.title-entries-pending{
  display: flex;
  gap:20px;
  display: flex;
  align-items: center;
 
}

.header-name{
  font-size:56px;
  font-family: 'Grenze',sans-serif;
   background-image: linear-gradient(
    to right, 
    red, 
    orange, 
    yellow, 
    green, 
    blue, 
    indigo, 
    violet
  );
  

  background-clip: text;

  color: transparent;
  
  
}

.analytics-nav{
  font-size:1.3rem;
  border:none;
  cursor: pointer;
  background-image: linear-gradient(
    to right, 
    
    rgb(155, 12, 150), 
    rgb(76, 0, 130)
   
  );
  
  background-clip: text;

  color: transparent;
}

.analytics-nav:hover{
  background-image: linear-gradient(
    to right, 
    
    rgb(211, 100, 207), 
    rgb(147, 91, 188)
   
  );
  
  background-clip: text;

  color: transparent;
}


.date-wise-section{
  h3{
    font-size:20px;
  }
  font-size: 17px;

  li{
    margin-left:10px;
    list-style-position: inside;
  }
  
  
}

.segment{
 height: 250px; 
}

.input-box{
  min-height:520px ;
  width:300px;
  
}
.tab-content{
  display: none;
}


#input-entries{
  width: 286px;
  height: 522px;
  resize: none;
  border-width: 0px;  border-radius: 4px;
  border-color: #070707;
  background-color:rgba(11, 16, 29, 0.288) ;
  font-size: 17px;
  color:rgba(0, 255, 255, 0.811);
  padding-left: 10px;
  line-height: 1.5;
}

.title-completed{
  font-size:1.3rem;
  background-image: linear-gradient(
    to right, 
    blue, 
    rgb(155, 12, 150), 
    rgb(76, 0, 130)
   
  );
  
  background-clip: text;

  color: transparent;
}


#pending >.task-item{
  color:#89b4ba;
  font-weight: bold;
  
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:5px;
  margin-bottom:5px;
}

.complete-btn{
  cursor:pointer;
  font-weight: bold;
  background-color: #070707;
  color:rgba(27, 168, 228, 0.827);
  border:1px solid rgba(27, 194, 228, 0.834);
  font-size:1.09rem;
  height:25px;
  border-radius: 4px;
  margin-left:2px;
  
}
.complete-btn:hover{
  color:#1dacdb;
  background-color: #04040f;
}

.task-completed{
  color:#89b4ba;
  font-weight: bold;
  margin:5px;
  list-style: none;
}

.list-completed >ul{
  margin:6px;
  padding-left:6px;
}

.spinner{
  width: 500px;
  height: 500px;
}


#analytics-section{
  padding:10px;
  justify-content: center;
  align-self:center;
  height: 100%;
  
  width: 100%;
  display: grid;
  color: #d5e6e7;
  grid-template-columns: 1fr 3fr;
  gap: 20px; 

}
.charts{
  min-width: 0;
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

#dough-chart{
  max-width:80%;
  max-height:80%;
}

#history-section{
  h3{
    font-size: 27px;
    color: #89b4ba;
    
  }
  display:flex;
  margin:10px;
  padding:20px;
  flex-direction: column;
  color:#d5e6e7;
  height:100%;
  width:100%;
}
.history-data{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:10px; 
  li{
    list-style-type: circle;
    opacity:0.6;
  }
  .completed-data{
    color:#a0ee76d7;
    padding-left:10px;
  }
  .pending-data{
    color:#e4749bdf;
    padding-left:10px;
  }
}

.history-day-card{
  border:0.001px solid rgb(1 34 33);
  border-radius: 1rem;
  padding:10px;
  box-shadow: 0 4px 30px #118ab224;
  box-shadow: 0 4px 30px #118ab224;
  backdrop-filter: blur(5px);
}



@media only screen and (min-width:870px)
and (max-width:1100px){
  .spinner{
    width: 350px;
    height: 350px;
  }

  .history-data{
    grid-template-columns: 1fr 1fr 1fr ;
  }
  #wheelCanvas {
      width: 100%;
      height: 100%;
  }
  .box{
    width:220px;
   
  }
  #input-entries{
    width:210px;
    
  }

}
@media only screen and (max-width:870px)and (min-width:670px){
  main{
    display: grid;
    grid-template-columns: 400px 400px;
    
  }
 
  .spinner{
    width: 300px;
    height: 300px;
  }
  #wheelCanvas {
      width: 100%;
      height: 100%;
  }
  .box{
    width:200px;
    height: 300px;
    margin-bottom:15px;
   
  }
  #input-entries{
    height: 280px;
    width:184px;
    
  }

}

@media only screen and (max-width:670px){
  main{
    display: grid;
    grid-template-columns: 400px;
    
    
  }

  #analytics-section{
    display: grid;
    grid-template-columns: 1fr;
  }

  .history-data{
    grid-template-columns: 1fr;
  }

  .spinner{
    width: 350px;
    height: 350px;
    margin-top:10px;
  }
  #wheelCanvas {
      width: 100%;
      height: 100%;
  }
  .box{
    width:250px;
    height: 300px;
    margin-left:29px;
    margin-bottom:10px;
  }
  #input-entries{
    height: 280px;
    width:244px;
    
  }
  .header-titles{
    font-size: 20px;
    
  }
  

}